@media only screen and (max-width: 767px) { 

    .gt_border_int p {
      font-size:120%;
    }

    .menu-container {
      flex-direction: column;
      align-items: flex-end;
      width:100%;
    }

    .menu-logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .menu-logo img {
      max-height: 30px;
    }
  
    .menu {
      display: none;
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      right: -300px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 50px;
      background: #180126;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  
    .menu-container input:checked ~ .menu {
      display:block;
      transform: translateX(-100%);
      position:fixed;
    }

    .main_image {
      max-width:100%;
      width:100%;
      margin-top:50px;
    }

    .index_main h1 {
      overflow:visible;
      margin:4vh;
      font-size: 3em;
    }

    .CVs {
      rotate:-4deg;
      margin:auto;
      margin-top: 2em;
      display:flex;
      justify-content: space-around;
      width: 100%;
    }

    .aboutme_main, .iwh_main {
      margin:auto;
      padding:auto;
    }

    .gt_border_ext {
      width:100vw;
      max-width:100vw;
      margin-left:0vw;
    }

    #isima_logo {
      margin-top:2em;
    }

    #iwh_gazzette p {
      padding:0;
    }

    #gazzette_logo {
      max-height:11em;
      margin: -1em 0 -2em 50vw;
    }

    #isff_2023 {
      max-height:8em;
    }

    .articles_main {
      margin-top:10px;
    }

    .articles_intro {
      font-size:110%;
    }

    .articles_main h1 {
      margin: 0.5em 0.1em 0.5em 0.1em;
      font-size:350%;
    }

    .article {
      padding:0.2em 0.5em 0.2em 0.5em;
      flex-wrap: wrap;
    }

    .article_presentation {
      order:2;
      max-width: 70vw;
    }

    .article_presentation p {
      font-size:100%;
    }

    .article_img {
      order:1;
      max-height: unset;
      max-width:20vw;
    }

    .article form {
      margin-top:1em;
      order:3;
    }

    .article_btn {
      font-size: small;
    }

    .contact_main {
      padding: 80px 5vw 0 5vw;
      align-items: center;
    }

    .contact_list li {
      flex-direction: column;
      flex-wrap: wrap;
    }

    .contact_list li * {
      margin-bottom: 0.2em;
    }
    
  
  }